<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>SKYJO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header">
    <h1>Joueurs :</h1>
  </div>
  <form>
    <div class="container">
      <div class="container-joueur">
        <div class="form-field">
          <ion-input placeholder="Joueur"></ion-input>
        </div>
        <ion-icon name="remove-circle-outline"></ion-icon>
      </div>
    </div>
    <div class="icon-container">
      <ion-icon name="add-circle-outline"></ion-icon>
    </div>
    <h1 class="title">Max Score :</h1>
    <div class="points">
      <ion-icon name="remove-circle-outline"></ion-icon>
      <div class="form-field">
        <ion-input placeholder="100" readonly></ion-input>
      </div>
      <ion-icon name="add-circle-outline"></ion-icon>
    </div>
    <ion-button expand="block"> Commencer</ion-button>
  </form>
</ion-content>
